
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Railway Reservation</a>
    </div>
    <ul class="nav navbar-nav">
      
      <li><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
     
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" class="nav-link" routerLink="/new" routerLinkActive="active"><span></span>Register</a></li>
      <li><a href="#" class="nav-link" routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in" ></span>  Login</a></li>
    </ul>
  </div>
</nav>
<div class="footer">
  <footer>copyright@Asmita</footer>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>