<div class="container-fluid">
    <div class="demo-card-square mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">WELCOME TO RAILWAYS</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <div class="container-fluid">
                    <div class="one">
                        <div class="container-fluid">
                            <h4>Search for Train Details</h4>
                            <ul class="nav navbar-nav">
                                <li><a class="nav-link" routerLink="/search" routerLinkActive="active">Search</a></li>
                            </ul>
                        </div>
                        <div class="container-fluid">
                            <h4>Search for Train Details</h4>
                            <ul class="nav navbar-nav">
                                <li><a class="nav-link" routerLink="/login" routerLinkActive="active">Search</a></li>
                            </ul>
                        </div>
                        <div class="container-fluid">
                            <h4>Search for Train Details</h4>
                            <ul class="nav navbar-nav">
                                <li><a class="nav-link" routerLink="/register" routerLinkActive="active">Search</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>